html {
}

body {
  background-color: #072852;
}

#page, #application {
}

#log-in-form {
  background-color: #EDEEEF;
  margin-top: 100px;
  padding: 10px;
}

.title-text {
  color: #EDEEEF;
}

.glyphicon {
  color: #EDEEEF;
}

#log-in-form .glyphicon {
  color: #000;
}

.double-size {
  font-size: 200%;
}

.mid-size {
  font-size: 150%;
}

.full-size {
  font-size: 100%;
}

.nav li a:hover {
  background-color: rgba(101, 131, 170, 0.40);
}

.nav li a:focus {
  background-color: rgba(101, 131, 170, 0.40);
}

.nav button {
  margin-top: 20%;
  line-height: 100%;
}

.simulate-a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.functional-block {
  background-color: #EDEEEF;
}

.button-text {
  color: #FFFEFD;
  margin-bottom: 0px;
}

.btn-default:hover,
.btn-default:hover:focus {
  background-color: #A25B14;
  color: #fff;
}

.btn-default:active,
.btn-default:active:hover
 {
  background-color: #7E3D00;
  color: #fff;
}

.btn-default,
.btn-default:focus {
  background-color: #C77928;
  color: #fff;
}

.navbar-text {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.clickable {
  cursor: pointer;
  background-color: rgba(51, 66, 85, 0.25);
  border: 1px solid rgba(101, 131, 170, 0.25);
  padding: 1em;
}

.clickable:hover {
  background-color: rgba(91, 106, 115, 0.25);
  border: 1px solid rgba(120, 150, 200, 0.5);
}

.item {
  background-color: rgba(101, 131, 170, 0.25);
  margin: 10px;
  padding: 5px;
}

.form-padding {
  padding: 2em;
}

.loading-indicator {
  margin: 1em;
}

.report-item {
  padding: 1em;
}

.report-item:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.controls-widget > div {
  margin: 0.5em 0 0.5em 0;
}