html {
}

body {
    background-color: #072852;
}

#page,#application {
}

#log-in-form {
    background-color: #EDEEEF;
    margin-top: 100px;
    padding: 10px;
}

.title-text {
    color: #EDEEEF;
}

.glyphicon {
    color: #EDEEEF;
}

#log-in-form .glyphicon {
  color: #000;
}

.double-size {
    font-size: 200%;
}

.mid-size {
    font-size: 150%;
}

.full-size {
    font-size: 100%;
}

.nav li a:hover {
    background-color: rgba(101, 131, 170, 0.40);
}

.nav li a:focus {
    background-color: rgba(101, 131, 170, 0.40);
}

.nav button {
  margin-top: 20%;
  line-height: 100%;
}

.simulate-a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.functional-block {
    background-color: #EDEEEF;
}

.button-text {
    color: #FFFEFD;
    margin-bottom: 0px;
}

.btn-default:hover {
    background-color: #7E3D00;
}

.btn-default.active,
.btn-default:active,
.btn-default.active:active
.btn-default:focus,
.btn-default.active:focus {
    background-color: #cccccc;
}

.btn-default {
    background-color: #C77928;
}

.navbar-text {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.clickable {
    cursor: pointer;
    background-color: rgba(51, 66, 85, 0.25);
    border: 1px solid rgba(101, 131, 170, 0.25);
    padding: 1em;
}
.clickable:hover {
    background-color: rgba(91, 106, 115, 0.25);
    border: 1px solid rgba(120, 150, 200, 0.5);
}

.item {
    background-color: rgba(101, 131, 170, 0.25);
    margin: 10px;
    padding: 5px;
}

.form-padding {
    margin-top: 40px;
    margin-bottom: 40px;
}

.loading-indicator {
    margin: 1em;
}
